body {
    font-family: Arial, sans-serif;
    background-color: #303030;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #FFFFFF;
}

button {
    background-color: #0037D0;
    color: White;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
